services:
  weaviate:
    image: semitechnologies/weaviate:latest
    ports:
      - "8080:8080"
    volumes:
      - ./weaviate-data:/var/lib/weaviate
    environment:
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: "true"
      CLUSTER_HOSTNAME: "node1"
      PERSISTENCE_DATA_PATH: "/var/lib/weaviate"
      DEFAULT_VECTORIZER_MODULE: text2vec-transformers
      ENABLE_MODULES: text2vec-transformers
      TRANSFORMERS_INFERENCE_API: "http://t2v-transformers:8080"
      RAFT_BOOTSTRAP_EXPECTED: 1
      DISABLE_TELEMETRY: "false"
      RAFT_BOOTSTRAP_TIMEOUT: 300
    depends_on:
      t2v-transformers:
        condition: service_started
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget -q --spider http://localhost:8080/v1/.well-known/ready || exit 1",
        ]
      interval: 15s
      timeout: 10s
      retries: 30
      start_period: 30s
    #restart: unless-stopped
    networks:
      - web

  t2v-transformers:
    image: semitechnologies/transformers-inference:sentence-transformers-paraphrase-multilingual-MiniLM-L12-v2
    ports:
      - "8081:8080"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget -q --spider http://localhost:8080/v1/.well-known/ready || exit 1",
        ]
      interval: 15s
      timeout: 10s
      retries: 30
      start_period: 30s
    restart: unless-stopped
    networks:
      - web

  redis:
    image: redis:7.4-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    #restart: unless-stopped
    networks:
      - web

  ecomm-rabbitmq:
    image: rabbitmq:3.11-management
    container_name: rabbitmq
    ports:
      - "5672:5672" # AMQP
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    #restart: unless-stopped
    networks:
      - web

  go-server:
    build:
      context: .
      dockerfile: products-service/Dockerfile

    ports:
      - "3000:3000"
    #restart: unless-stopped
    depends_on:
      weaviate:
        condition: service_healthy
      ecomm-rabbitmq:
        condition: service_started
      redis:
        condition: service_started
    networks:
      - web

volumes:
  rabbitmq_data:
  redis-data:

networks:
  web:
    driver: bridge
